docker.enabled = true
process{

  cpus = 2
  memory = '2 GB'

  withName:nanoPlot{
    cpus=4
    memory='8 GB'
    container = 'staphb/nanoplot'
  }
  withName:filtLong{
    cpus = 4
    memory = '8 GB'
    container = 'staphb/filtlong:0.2.1'
  }
  withName:epi2meAssembly{
    cpus = 8
    memory = '25 GB'
  }
}
